.theme {
  color: white;
}

.create {
  display: flex;
  gap: 10px;
  img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
  }
}
.colects {
  display: flex;
  align-items: center;
  gap: 50px;
  h5 {
    color: white;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: white;
    span {
      font-weight: 100;
      color: gray;
    }
  }
  button {
    display: flex;
    align-items: center;
    border: none;
    padding: 5px;
  }
}
.love {
  button {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: white;
    margin-left: 110px;
  }
}
button:hover {
  span {
    color: red;
  }
}

.arts {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}
.art {
  width: 550px;
  height: 320px;
  background: rgb(62, 62, 62);
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
}
.images {
  display: flex;
  gap: 5px;
  margin: 20px 0;
}
.left {
  img {
    width: 200px;
    height: 250px;
    border-radius: 5px;
  }
}
.photos {
  display: flex;
  gap: 5px;
  img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }
}
.monkey {
  width: 209px;
  height: 140px;
  border-radius: 5px;
  margin-top: 10px;
}
