.sell {
  padding: 20px 0;
  h1 {
    color: white;
  }
  h2 {
    color: white;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.582);
    margin: 20px 0;
  }
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  .wallet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: blue;
    color: white;
    border-radius: 10px;
  }
  .collection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: green;
    color: white;
    border-radius: 10px;
  }
  .add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: purple;
    color: white;
    border-radius: 10px;
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: red;
    color: white;
    border-radius: 10px;
  }
}