#footer {
  background: #000;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  margin-top: 100px;
  h2 {
    font-size: 25px;
    color: white;
    font-weight: 300;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.582);
    margin: 20px 0;
  }
  h5 {
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    border: none;
  }
  a {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.582);
  }
}
.icon {
  color: blueviolet;
  width: 30px;
  height: 30px;
}
.logo-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  button {
    padding: 5px;
    background: rgb(46, 45, 45);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .facebook {
    width: 30px;
    height: 30px;
  }
}
.footer2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer5 {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .fot-btn {
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.666);
    background: #000;
    color: rgba(255, 255, 255, 0.582);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    gap: 20px;
    width: 250px;
    cursor: pointer;
  }
  .send {
    background: blue;
    padding: 10px 10px;
  }
}
