#header {
    padding: 40px;
    border-bottom: 2px solid rgb(95, 94, 94);
    padding-bottom: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    .fire {
        height: 38px;
        width: 40px;
        color: blueviolet;
    }

    h2 {
        font-size: 30px;
        font-weight: 600;
        color: white;
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
        color: white;
        font-size: 18px;
        border-bottom: 2px solid transparent;
        padding-bottom: 6px;
        transition: 1s;
    }

    select {
        background: transparent;
        color: white;
        border: none;
        font-size: 18px;
        border-bottom: 2px solid transparent;
        padding-bottom: 6px;
        transition: 1s;
    }
    option{
        background: rgba(0, 0, 0, 0.619);
        border: none;
    }

    a:hover {
        border-bottom: 2px solid blueviolet;
        padding-bottom: 6px;
    }

    select:hover {
        border-bottom: 2px solid blueviolet;
        padding-bottom: 6px;
    }
}

.btn {
    display: flex;
    align-items: center;
    gap: 20px;

    .search {
        color: white;
        width: 26px;
        height: 26px;
    }

    .bton {
        display: flex;
        align-items: center;
        gap: 8px;
        border: 2px solid rgb(56, 7, 101);
        border-radius: 20px;
        background: transparent;
        padding: 15px 30px;
        color: white;
        font-size: 16px;
    }
}