#hero {
    padding: 40px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: antiquewhite;

    img {
        width: 700px;
    }
}

.hero-left {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
        font-size: 54px;
        font-weight: 800;
        color: white;
    }

    span {
        font-size: 54px;
        font-weight: 800;
      color: transparent;
      -webkit-text-stroke: 2px #a855f7;
    }

    p {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.792);
    }

}

.btn-hero {
    display: flex;
    gap: 40px;

    .first {
        padding: 13px 34px;
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 20px;
        border: none;
        background: transparent;
        color: white;
        font-size: 14px;
        font-weight: 500;
        border:2px solid #4B0082 ;
    }

    .second {
        padding: 13px 34px;
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 20px;
        border: none;
        background: white;
        color: black;
        font-size: 14px;
        font-weight: 500;
    }
    .purple{
        color:#4B0082;
    }
}
.circle{
    position: absolute;
    color: #7607dd;
    font-size: 30px;
    right: 220px;
    bottom: 10px;
}
.circle-hero{
    position: absolute;
    color:#4B0082;
    font-size: 80px;
    right: -40px;
    top: 5px;
}