.explore {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    color: white;
  }
  h4 {
    color: white;
    font-weight: 200;
    font-size: 15px;
    border-bottom: 2px solid purple;
    padding: 5px;
  }
}
.btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid gray;
    background: black;
    color: white;
  }
}

.like {
  position: absolute;
  right: 30px;
  top: 20px;
  button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 6px;
    border-radius: 5px;
    border: none;
    background: #000;
    color: white;
  }
  .love:hover {
    color: red;
  }
}

.users {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.card {
  position: relative;
  width: 250px;
  height: 350px;
  background: rgb(62, 62, 62);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.the {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  p {
    font-weight: 600;
    color: white;
  }
  button {
    color: white;
    background: blue;
    border: none;
    padding: 3px 10px;
    border-radius: 10px;
  }
}
.owner {
  display: flex;
  align-items: center;
  gap: 10px;
  h5 {
    color: white;
    margin-left: 20px;
    span {
      font-weight: 100;
      color: rgb(162, 157, 157);
    }
  }
  .girl {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.view {
  margin: 10px;
  button {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid blue;
    background: rgb(62, 62, 62);
    color: white;
  }
  .history {
    border: 1px solid rgb(62, 62, 62);
    background: rgb(62, 62, 62);
    color: rgb(162, 157, 157);
    span {
      color: white;
    }
  }
}

.card2 {
  position: relative;
  width: 250px;
  height: 300px;
  background: rgb(62, 62, 62);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .like {
    position: absolute;
    right: 30px;
    top: 20px;
    button {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 4px 6px;
      border-radius: 5px;
      border: none;
      background: #000;
      color: white;
    }
    .love:hover {
      color: red;
    }
  }
}

.card3 {
  position: relative;
  width: 250px;
  height: 350px;
  background: rgb(62, 62, 62);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .view {
    margin: 10px;
    button {
      padding: 5px 15px;
      border-radius: 20px;
      border: none;
      background: white;
      color: black;
      span {
        color: blue;
      }
    }
    .history {
      border: 1px solid rgb(62, 62, 62);
      background: rgb(62, 62, 62);
      color: rgb(162, 157, 157);
      span {
        color: white;
      }
    }
  }
}

.more {
  margin-bottom: 50px;
  button {
    padding: 10px 30px;
    background: #000;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 600px;
  }
}
