#top-seller {
  padding: 50px 0;
}
.text-seller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  h1 {
    color: white;
  }
}
.icon-seller {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .left {
    font-size: 40px;
    width: 35px;
    height: 35px;
    transition: 0.9s;
    transition: 0.5s ease;
    border: none;
    color: rgb(136, 136, 243);
  }
  .right {
    font-size: 40px;
    width: 35px;
    height: 35px;
    transition: 0.9s;
    transition: 0.5s ease;
    border: none;
    color: rgb(136, 136, 243);
  }
}
.left:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  color: white;
}
.right:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  color: rgb(255, 255, 255);
}
.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  text-align: center;
  .img1 {
    width: 80px;
    height: 70px;
    border-radius: 19px;
  }
  .img2 {
    width: 80px;
    height: 70px;
    border-radius: 19px;
  }
  .img3 {
    width: 80px;
    height: 70px;
    border-radius: 19px;
  }
  .img4 {
    width: 75px;
    height: 70px;
    border-radius: 19px;
  }
  .img5 {
    width: 80px;
    height: 70px;
    border-radius: 19px;
  }
  .img6 {
    width: 80px;
    height: 70px;
    border-radius: 19px;
  }
  .img7 {
    width: 80px;
    height: 70px;
    border-radius: 19px;
  }
  .img8 {
    width: 80px;
    height: 70px;
    border-radius: 19px;
  }
  .img9 {
    width: 80px;
    height: 70px;
    border-radius: 19px;
  }
  .icon {
    color: blue;
    margin-left: -22px;
    width: 25px;
    height: 25px;
  }
  h4 {
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 0;
  }
  p {
    color: white;
    font-size: 10px;
  }
}
.explore {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 28px;

  h3 {
    font-size: 12px;
    color: white;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    padding-bottom: 6px;
    transition: 1s;
  }
  h3:hover {
    transform: scale(1.1);
    border-bottom: 2px solid blueviolet;
    padding-bottom: 6px;
  }
}